@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

#about {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 3em;
}

.main-content p {
  font-family: 'Roboto', sans-serif;
  color: white;
}