@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.nav-bar {
  background: #8E583D;
}

.active-nav-bar {
  background: black;
}

main {
  flex: 1;
  background: #8E583D;
  padding: 0 2em;
}

.active-main {
  display: none;
}

#pg-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 3em;
}

#demands {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#demands img {
  padding: 1em;
  width: 40vh;
}

@media (orientation: landscape) {

  #demands {
    flex-direction: row;
  }

  #demands img {
    width: 40vw;
  }
}